.container,
.container nav,
.container>.navbar,
.container>.panel-default,
.container>#myCarousel,
.container .row {
	margin: 0px;
	padding: 0px;
	width: 100vw !important;
}

.padding {
	padding: 0;
}
.margin{
	margin: 0;
}
.borderButtom {
	border-bottom: 1px solid gray;
	padding: 0;
}
.bg-color{
	background-color: rgb(229, 39, 98);	
}
.container nav {
	height: 30px;
	margin: 0px;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 3;
}

.container .navbar {
	border-bottom: 1px solid gainsboro;
	height: 30px;
}

.container nav h3 {
	margin: 15px 0;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

.container nav h3 a span {
	margin-right: 15px;
	color: darkgray;
}

.container .panel {
	border: 0px;
	margin-top: 50px;
}

.container .panel .panel-body button:hover {
	background-color: white;
	color: rgb(229, 39, 98);
	border: rgb(229, 39, 98) 1px solid;
}

.fb-color {
	color: rgb(229, 39, 98);
	border: rgb(229, 39, 98) 1px solid;
}
.bg-white{
	background-color: white;
}

.f-color {
	color: rgb(229, 39, 98);
}

.total {
	background-color: #526d93;
	color: white;
}

.container .row .classify {
	width: 100vw;
	display: inline-flex;
	padding-top: 8px;
}

.container .row .classify li {
	flex: 1;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	color: rgb(61, 60, 60);
	text-align: center;
}

.liAdd {
	border-bottom: 1px solid rgba(229, 39, 98, 1) !important;
	color: rgb(229, 39, 98) !important;
}

.container .row .box {
	padding: 0px;
	background-color: gainsboro;
}

.container .row .box div {
	padding: 0px;
	background-color: white;
	border-bottom: 4px solid rgba(0, 0, 0, 0.1);
	position: relative;
}

.container .row .box div>button {
	float: right;
	top: 10px;
	right: 10px;
	opacity: 0.8;
	width: 35px;
	height: 35px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
}

.container .row .box div img {
	width: 100%;
}

.container .row .box div h5 a {
	font-size: 20px;
	color: rgb(60, 61, 60);
}

.screenTop {
	background-color: white;
	position: fixed;
	z-index: 3;
	opacity: 1;
	top: 50px;
	animation: myfirst 0.5s;
	-moz-animation: myfirst 0.5s;
	/* Firefox */
	-webkit-animation: myfirst 0.5s;
	/* Safari 和 Chrome */
	-o-animation: myfirst 0.5s;
}

@keyframes myfirst {
	25% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 12.5px;
	}
	50% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 25px;
	}
	75% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 37.5px;
	}
	100% {
		position: fixed;
		z-index: 3;
		opacity: 1;
		top: 50px;
	}
}

@-moz-keyframes myfirst
/* Firefox */

{
	25% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 12.5px;
	}
	50% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 25px;
	}
	75% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 37.5px;
	}
	100% {
		position: fixed;
		z-index: 3;
		opacity: 1;
		top: 50px;
	}
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
	25% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 12.5px;
	}
	50% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 25px;
	}
	75% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 37.5px;
	}
	100% {
		background-color: white;
		position: fixed;
		z-index: 3;
		opacity: 1;
		top: 50px;
	}
}

@-o-keyframes myfirst
/* Opera */

{
	25% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 12.5px;
	}
	50% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 25px;
	}
	75% {
		position: fixed;
		z-index: 2;
		opacity: 1;
		top: 37.5px;
	}
	100% {
		position: fixed;
		z-index: 4;
		opacity: 1;
		top: 50px;
	}
}

.container .row .screen .classIFY {
	width: 100vw;
	z-index: 2;
}

.container .row .screen .classIFY #pullDown {
	position: relative;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.1);
	animation: myfirst1 0.5s;
	-moz-animation: myfirst1 0.5s;
	/* Firefox */
	-webkit-animation: myfirst1 0.5s;
	/* Safari 和 Chrome */
	-o-animation: myfirst1 0.5s;
}

.container .row .screen .classIFY #pullDown ul {
	border: 1px solid gainsboro;
}

.container .row .screen .classIFY #pullDown ul li {
	list-style-type: none;
	line-height: 35PX;
	border-bottom: 1px solid gainsboro;
	text-indent: 20px;
}

.container .row .screen .classIFY #pullDown .pullDownLeft,
.container .row .screen .classIFY #pullDown .pullDownRight {
	z-index: 5;
	padding: 0PX;
	width: 50vw;
	height: 75vh;
	overflow: overlay;
}

.container .row .screen .classIFY #pullDown .pullDownLeft {}

.container .row .screen .classIFY #pullDown .pullDownRight {
	background-color: #F0F0F0;
}

.container .row .screen .classIFY #pullDown .pullDownLeft ul {
	background-color: white;
}

.pullDownLeftAdd {
	color: rgb(229, 39, 98);
	background-color: #F0F0F0;
}

@keyframes myfirst1 {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes myfirst1
/* Firefox */

{
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes myfirst1
/* Safari and Chrome */

{
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes myfirst1
/* Opera */

{
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*买家秀*/

.container .row div.box img {
	width: 100%;
}
.container .tabBox{
	box-shadow: 0px 5px 2px #888888;
	margin-bottom: 10px;
}
.container .tabBox div:nth-of-type(2) {
	position: absolute;
}

.container .tabBox div:nth-of-type(2)>p:first-of-type {
	float: left;
	width: 100vw;
	margin-bottom: 0px !important;
	background-color: gray;
	position: relative;
	font-size: 18px;
	top: -32px;
	opacity: 0.7;
	text-indent: 5px;
	color: white;
}

.container .tabBox div:nth-of-type(3) {
	padding-left: 10px;
}

.container .tabBox div:nth-of-type(3)>p {
	margin-bottom: 0;
}

.container .tabBox div:nth-of-type(4) {
	position: relative;
}